header {
  background-color: #31352e;
  display: flex;
  height: 90px;
  justify-content: space-between;
  width: 100%;
}

.searchHeader {
  align-items: center;
  align-self: center;
  border: white solid 1px;
  display: flex;
  height: 35px;
  justify-content: center;
  width: 450px;
}

.searchQueryInput {
  background-color: #ebebe8;
  background-image: url('../icons/searchicon.png');
  background-position: 10px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: 1px solid white;
  border-radius: 4px 0 0 4px;
  box-sizing: border-box;
  display: inline-block;
  flex-grow: 1;
  height: 100%;
  min-width: 30px;
  padding-left: 40px;
}

.searchQueryInput:focus {
  border: 3px solid #778a35;
  border-radius: 4px 0 0 4px;
  outline: none;
}
