* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ebebe8;
  overflow-x: hidden;
  width: 100%;
}

a, a:hover, a:focus, a:active, a:visited, a:checked {
  text-decoration: none; /* no underline */
  text-decoration: inherit; /* no underline */
  color: white;
}